.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  background-color: #f5f5f5;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem; /*send to fedi*/
  color: #555;
}

.shop-btn {
  background-color: #ff9800;
  border: none;
  padding: 0.8rem 1.5rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.shop-btn:hover {
  background-color: #e68900;
}

.hero-img {
  width: 40%;
  border-radius: 10px;
}
